
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
	font: 36px sans-serif;
	font-family: 'Cormorant';
	text-transform: uppercase;
	margin: 10px auto 0 auto;
	/* text-align: center; */

}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {
	font: 16px sans-serif;
	font-family: 'Cormorant';
}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}

#header {
	display:block;
	overflow:hidden;
	width:1170px;
	margin:0 0 0;
	padding:0 0;
}
#home {
	width:100%;
	display:block;
	position:relative;
	margin-top: 75px;
}

.span-hr {
	display: block;
	position: relative;
	margin: 10px auto 0 auto;
	width: 60px;
	height: 6px;
	background-image: url(../images/span-hr.png);
	background-repeat: no-repeat;
  background-position: center;
}
#header .logo {
	margin: 41px 0 0 98px;
	width: 1170px;
}

#header .logo a {
	font-family: 'Montserrat';
	font-size: 24px;
	font-weight: 700;
	color: black;
}

#header .menu{
	margin: -50px auto;
	height: 90px;
	width: 1170px;
	position: relative;
	text-align: right;
	z-index: 1;
}
#header .menu li{
	display: inline-block;
	margin: 0 -2px 0 -2px;
	font-family: 'Cormorant';
	text-transform: uppercase;
}

#header .menu li a{
		color: black;
		margin: 0px 10px;
}

#header .menu li a:hover{
	border-bottom: 2px solid black;
}

#home .hero-img{
	width: 648px;
	height: 800px;
	background-color: #e1e1e1;
	float: right;
	margin: -170px auto;
	z-index: 0;
}
#home .hero-img img{
	margin: 72px 0 0 150px;
	text-align: center;
}

#home .hero-img .hero-border-2{
	width: 219px;
	height: 378px;
	border: 13px solid #ffffff;
	margin: -590px 0 0 430px;
	z-index: 1;
}

#home .hero-content {

}



#about {
	margin: 800px auto;

}






/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin:0 auto;
		position:relative;
		width:768px;
	}
}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}
}
