
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
	font: 36px sans-serif;
	font-family: 'Cormorant';
	text-transform: uppercase;
	margin: 10px auto 0 auto;
	/* text-align: center; */

}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {
	font: 16px sans-serif;
	font-family: 'Cormorant';
}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/

/* #body {
	width: 1366px;
} */


.span-hr {
	display: block;
	position: relative;
	margin: 10px auto 0 auto;
	width: 60px;
	height: 6px;
	background-image: url(../images/span-hr.png);
	background-repeat: no-repeat;
  background-position: center;
}

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
	height: 50px;
	margin:50px 0 0 100px;
	z-index: 1;
}
#home {
	/* width: 1366px; */
	display: block;
	position: relative;
	margin-top: 75px;
}
#header .logo{
	float: left;
	text-transform: lowercase;
}

#header .logo a {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 24px;
	font-weight: 700;
	color: black;
}

#header .menu{
	position: relative;
	float: right;
	z-index: 1;
	margin: 0 120px 0 0;
}

#header .menu li{
	display: inline-block;
	margin: 0 -2px 0 -2px;
	font-family: 'Cormorant';
	text-transform: uppercase;
}

#header .menu li a{
		color: black;
		margin: 0px 10px;
}

#header .menu li a:hover{
	border-bottom: 2px solid black;
}
/************************************HOME************************/

#home .hero-img{
	width: 648px;
	height: 800px;
	background-color: #e1e1e1;
	text-align: center;
	float: right;
	margin: -180px auto;
	z-index: 0;
}

#home .hero-img img{
margin: 72px auto;
}

#home .hero-img .hero-border-2{
	width: 100%;
	height: 352px;
	border: 13px solid #ffffff;
	border-right: none;
	margin: -630px 0 0 405px;
	z-index: 1;
}

#home .hero-content {
	padding: 130px 0 0 130px;
}

#home .hero-content h1 {
	font-size: 46px;
	font-family: 'Cormorant';
	font-weight: bold;
}

#home .hero-content p {
	padding: 0 0 20px 0;
	font-weight: normal;
}

#home .hero-content .btn-hireme {
	width: 144px;
	height: 51px;
	background-color: transparent;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
}

#home .hero-content .btn-expmore {
	width: 174px;
	height: 51px;
	background-color: #ffffff;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
	margin: 0 0 0 20px;
}

#home .hero-content .btn-hireme:hover{
	background-color: #212121;
	color: white;
}

#home .hero-content .btn-expmore:hover{
	background-color: #212121;
	color: white;
}

#home .hero-border-1{
	width: 350px;
	height: 457px;
	border: 17px solid #e8e8e8;
	border-left: none;
	margin: -250px 0 0 -180px;
	z-index: 1;
}
/*************************** ABOUT*********************/
#about {
	margin: 200px 0 0 0;
	text-align: center;
}

#about p{
	width: 570px;
	height: 100px;
	margin: 35px auto;
}

#about .btn-download{
	width: 208px;
	height: 51px;
	background-color: #ffffff;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
}

#about .btn-download:hover{
	background-color: #212121;
	color: white;
}
/*************************** SKILLS*********************/
#skills {
	margin: 120px 0 0 0;
	text-align: center;

}
#skills .progbars{
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 1170px;
	margin: 40px 0 0 0;
	z-index: 1;
}
#skills .progbars progress{
	color: #212121;
	background-color: #dfdfdf;
	border: none;
g

}
#skills .progbars span{
	font-size: 24px ;
	font-weight: 300;
	font-family: 'Cormorant';
	font-weight: 400;
	text-transform: uppercase;


}



/*************************** WHAT-I-DO*********************/

.service-bg{
	background-image: url(../image/img-bg-whatido.png);
	position: relative;
	z-index: 0;
	/* margin: -120px auto; */
}

#service {
	margin: 120px auto;
	text-align: center;
	width: 1170px;
	height: 517px;
	background-color: white;
	position: relative;
	z-index: 1;
}
#service .conteiners{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px auto;


}


/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin:0 auto;
		position:relative;
		width:768px;
	}
}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}
}
