
html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
	font: 36px sans-serif;
	font-family: 'Cormorant';
	text-transform: uppercase;
	margin: 10px auto 0 auto;


}
h2 {font: 30px sans-serif;
font-family: 'Cormorant';
font-weight: 500;
/* color: white; */
}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
p {
	font: 16px sans-serif;
	font-family: 'Cormorant';
}
strong {}
/**********************************************************              PC - LARGE             *************************************************/
/*@media (min-width: 1218px) and (max-width: 10000px) {}*/

/* #body {
	width: 1366px;
} */

.layout {
  margin: 0 auto;
  position: relative;
  width: 1170px;
}

.span-hr {
	display: block;
	position: relative;
	margin: 10px auto 0 auto;
	width: 60px;
	height: 6px;
	background-image: url(../images/span-hr.png);
	background-repeat: no-repeat;
  background-position: center;
}

#footer {
	display:block;
	overflow:hidden;
	width:100%;
	margin:0 0 0;
	padding:0 0;
}

#header {
	display: flex;
	justify-content: space-between;
	height: 50px;
	margin:50px auto;
	z-index: 1;
}
#home {
	display: block;
	position: relative;
	margin-top: 75px;
}
#header .logo{
	float: left;
	text-transform: lowercase;
}

#header .logo a {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 24px;
	font-weight: 700;
	color: black;
}

#header .menu{
	position: relative;
	float: right;
	z-index: 1;
}

#header .menu li{
	display: inline-block;
	margin: 0 -2px 0 -2px;
	font-family: 'Cormorant';
	text-transform: uppercase;
}

#header .menu li a{
		color: black;
		margin: 0px 10px;
}

#header .menu li a:hover{
	border-bottom: 2px solid black;
}
/************************************HOME************************/

#home .hero-img{
	width: 648px;
	height: 800px;
	background-color: #e1e1e1;
	text-align: center;
	float: right;
	margin: -180px auto;
	z-index: 0;
}

#home .hero-img img{
margin: 72px auto;
}

#home .hero-img .hero-border-2{
	width: 100%;
	height: 352px;
	border: 13px solid #ffffff;
	border-right: none;
	margin: -630px 0 0 405px;
	z-index: 1;
}

#home .hero-content {
	padding: 130px 0 0 130px;
}

#home .hero-content h1 {
	font-size: 46px;
	font-family: 'Cormorant';
	font-weight: bold;
}

#home .hero-content p {
	padding: 0 0 20px 0;
	font-weight: normal;
}

#home .hero-content .btn-hireme {
	width: 144px;
	height: 51px;
	background-color: transparent;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
}

#home .hero-content .btn-expmore {
	width: 174px;
	height: 51px;
	background-color: #ffffff;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
	margin: 0 0 0 20px;
}

#home .hero-content .btn-hireme:hover{
	background-color: #212121;
	color: white;
}

#home .hero-content .btn-expmore:hover{
	background-color: #212121;
	color: white;
}

#home .hero-border-1{
	width: 350px;
	height: 457px;
	border: 17px solid #e8e8e8;
	border-left: none;
	margin: -250px 0 0 -180px;
	z-index: 1;
}
/*************************** ABOUT*********************/
#about {
	margin: 200px 0 0 0;
	text-align: center;
}

#about p{
	width: 570px;
	height: 100px;
	margin: 35px auto;
}

#about .btn-download{
	width: 208px;
	height: 51px;
	background-color: #ffffff;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
}

#about .btn-download:hover{
	background-color: #212121;
	color: white;
}
/*************************** SKILLS*********************/
#skills h1  {
	margin: 120px 0 0 0;
	text-align: center;

}
#skills .progbars{
	position: relative;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content:  space-around;
	margin: 40px 0 0 0;
	z-index: 1;
}
#skills .progbars div{
	flex-basis: 370px;
}
#skills .progbars .progressbar{
	height: 16px;
	width: 100%;
	background-color:  #e2e2e2;
}
#skills .progbars .progress{
	height: 100%;
	width: 0%;
	background-color:  #212121;
}

#skills .progbars span{
	font-size: 24px ;
	font-weight: 300;
	font-family: 'Cormorant';
	text-transform: uppercase;
	text-align: left;
}



/*************************** WHAT-I-DO*********************/

.service-bg{
	background-image: url(../images/img-bg-whatido.png);
	width: 1366px;
	height: 911px;
	position: relative;
	z-index: 0;
	margin: -300px auto;
}

#service {
	margin: 120px auto;
	text-align: center;
	height: 517px;
	background-color: white;
	position: relative;
	z-index: 1;
}
#service .conteiners{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 40px auto;
}
#service .conteiners .front-end, .back-end, .consultancy{
	width: 300px;
	height: 250px;
}

#service h2{
	margin: 15px 0 10px;
}

#portfolio {
	margin: 120px auto;
	text-align: center;
	position: relative;
	z-index: 1;
}
#portfolio .tabs{
	width: 100%;
	margin: 40px 0 30px 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#portfolio .tabs li{
	display: inline-block;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 370px;
  height: 282px;
  margin: 25px 20px 5px 0;
}
#portfolio .tabs li:nth-child(3n) {
  margin: 25px 0 5px 0;
}

#portfolio .tabs li:hover .front {
  z-index: 1;
}

#portfolio .tabs li:hover .back {
  z-index: 10;
}

#portofolio .tabs li .front {
  display: block;
  position: relative;
  width: 370px;
  height: 282px;
  z-index: 10;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

#portofolio .tabs li .back {
  display: block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 370px;
  height: 282px;
  background-color: transparent;
  z-index: 1;
}

#portofolio .tabs li .back .links{
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 1;
}

#portfolio .btn-loadmore{
	width: 174px;
	height: 51px;
	background-color: #ffffff;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
	margin: 0 0 0 20px;
}
#portfolio .btn-loadmore:hover{
	background-color: #212121;
	color: white;
}


/***********************CONTACT*************************/

#contact{
	margin: 120px auto;
	text-align: center;
	position: relative;
	z-index: 1;
}


#contact .btn-hireme{
	width: 174px;
	height: 51px;
	background-color: #ffffff;
	border: 1px solid #212121;
	font-size: 16px ;
	font-weight: 400;
	font-family: 'Cormorant';
	margin: 0 0 0 20px;
}
#contact .btn-hireme:hover{
	background-color: #212121;
	color: white;
}



/*************************Footer*************************/

#footer {
	width: 100%;
	height: 103px;
	background-color: #212121;
}
#footer ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#footer .copyRights{
	color: white;
	font-family: 'Cormorant';
	font-size: 16px;
}
#footer .social{
	margin: 0 0 0 97px;
	display: inline-block;
}
#footer .social div{
	width: 34px;
	height: 34px;
	border: 1px solid #ffffff;
	border-radius: 50%;
	float: left;
	margin: 0 10px auto;
}
#footer .social i{
	position: relative;
	top: 30%;
	left: 35%;
}
#footer .social .linkedin i  {
	left: 30%;
}
#footer .social .googleplus i {
	left: 25%;
}
#footer .btn-up{
	width: 42px;
	height: 42px;
	background-color: white;
	border-radius: 50%;
	float: right;
	margin: 0 10px auto;
}

#footer .btn-up i{
	position: relative;
	top: 30%;
	left: 42%;
}


/****************************************************************              PC              ***************************************************/
@media (min-width: 978px) and (max-width: 1217px) {

	#menubtn{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	}

	#menubtn span{
	position: absolute;
	background-color: black;
	height: 2px;
	width: 100%;
	left: 0;

	}
	#menubtn span:first-of-type{
	top: 0;
	}
	#menubtn span:nth-of-type(2){
	top: 9px;
	}
	#menubtn span:last-of-type{
	bottom: 0;
	}



}
/****************************************************************              TABLET              ***********************************************/
@media (min-width: 768px) and (max-width: 977px) {
	.layout {
		margin:0 auto;
		position:relative;
		width:768px;
	}

	#menubtn{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	}

	#menubtn span{
	position: absolute;
	background-color: black;
	height: 2px;
	width: 100%;
	left: 0;

	}
	#menubtn span:first-of-type{
	top: 0;
	}
	#menubtn span:nth-of-type(2){
	top: 9px;
	}
	#menubtn span:last-of-type{
	bottom: 0;
	}

}
/****************************************************************              MOBILE              ***********************************************/
@media (min-width: 320px) and (max-width:767px) {
	.layout {
		width:100%;
		padding:0;
	}

	#header .menu{
		display: none;
	}

	#home {
		width: 100%;
	}

	#menubtn{
	display: block;
	position: absolute;
	top: 40px;
	right: 40px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	z-index: 2;
	}

	#menubtn span{
	position: absolute;
	background-color: black;
	height: 2px;
	width: 100%;
	left: 0;

	}
	#menubtn span:first-of-type{
	top: 0;
	}
	#menubtn span:nth-of-type(2){
	top: 9px;
	}
	#menubtn span:last-of-type{
	bottom: 0;
	}
}
